body, html {
	height: 100%;
}

.navbar-default {
	background: #ffbb00;
}

.navbar-default .navbar-brand {
	color: #000;
}

.login{
	text-align: right;
}

.dropdown {
	font-size: 18px;
}

.dropdown-toggle{
	color: #000;
}

li{
	list-style-type: none; 
}

.content {
	height: 85%;
}
.row{
	height: 100%;
}
.chat-container{
	height: 100%;
	padding: 20px;
	background: #eee;
	border-radius: 5px;
}

.messages{
	max-height: 88%;
	overflow: auto;
}

/*meteor deploy meteorapp.meteor.com*/